@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  
}
.center {
  @apply flex justify-center items-center
}

.button {
  @apply dark:text-slate-200 bg-slate-200 text-zinc-800 dark:bg-zinc-800 hover:scale-125 font-medium   py-2 px-3 rounded-md hover:hue-rotate-180 transition-all ease-in-out
  
}

.contact {
  @apply center gap-2 md:mx-12  mx-8 md:flex-row flex-col py-2 px-2 rounded-lg cursor-pointer hover:drop-shadow-xl hover:scale-125 transition-all ease-out
}

.transition-ease {
  @apply transition-all ease-in-out
}

.banner {
  background: url("./asset/wall-3.jpg");
  background-size: cover;
  position: relative;
  

}

.burgerLine {
  @apply w-full h-0.5 bg-black origin-[1px] dark:bg-white;
  transition: 1s all;
}

.menu {
  transition: 1s all;
}

.banner::before{
  
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      to bottom,
      rgba(6, 10, 20, 0.277) 0%,
      rgba(0, 0, 0, 0.435) 100%
    );
    content: "";
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 5px;
    color: #2a0b0b;
}


.menu-link {
  @apply text-gray-500 font-medium hover:text-gray-900
}



.game-card:hover::before {
  opacity: 100;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(6, 10, 20, 0.277) 0%,
    rgba(0, 0, 0, 0.435) 100%
  );
  content: "";
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 5px;
  color: #2a0b0b;
}

.game-card h4 {
  opacity: 0;
  transition: all .2s ease-in-out;
  top: 50%;
  right: 0;
  width: 100%;
  text-align: center;

}

.game-card:hover h4 {
  width: 100%;
  opacity: 100;
  right: 100%;
}

@media (max-width:640px) {
  .game-card h4 {
    opacity: 0;
    transition: all .2s ease-in-out;
    top: 50%;
    right: 0;
    width: 100%;
    
  
  }
  
  .game-card:hover h4 {
    width: 100%;
    opacity: 100;
    top: -50%;
    right: 0;

  }
}


